
<div id="venue" class ="text-center">
    <h4>Hotel International Iasi / Str. Palat nr. 5A</h4>
    <div class="tab-content container-fluid justify-content-center" style="max-width:1000px">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="~/images/hotel.jpg" target="_blank">

                        <img src="~/images/hotel.jpg" alt="Lights" width="600" height="450" />
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2713.1579665779686!2d27.584622415321025!3d47.154760527074664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb9e70bc4329%3A0x7ad04b7ad1a952eb!2sHotel+International!5e0!3m2!1sro!2sro!4v1554662836014!5m2!1sro!2sro" target="_blank">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2713.1579665779686!2d27.584622415321025!3d47.154760527074664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb9e70bc4329%3A0x7ad04b7ad1a952eb!2sHotel+International!5e0!3m2!1sro!2sro!4v1554662836014!5m2!1sro!2sro" width="600" height="450"></iframe>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


